
@{
    ViewBag.Title = "jQuery Example";
}

<h1>jQuery Example</h1>

<button id="myButton">Update Section</button>
<div id="mySection">
    <!-- Initial content of the section -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script>
        $(document).ready(function() {
            $('#myButton').click(function() {
                $.ajax({
                    url: '@Url.Action("UpdateSection", "Home")',
                    type: 'GET',
                    success: function(result) {
                        $('#mySection').html(result);
                    },
                    error: function() {
                        alert('An error occurred.');
                    }
                });
            });
        });
    </script>
}